.title {
    input {
        font-size: 42px;
        font-weight: 900;
    }

    div {

        &:before,
        &:after {
            display: none;
        }
    }
}

.imagesPreview {
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.imagePreview {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 120px;

    button {
        width: 10px;
    }
}


.tagsInput {
    flex: 1 1 0;
    width: 100% !important;
}

.tags {
    width: 100% !important;
}

.editor {
    margin: 30px -30px;

    :global {
        .cm-s-easymde {
            border: 0;
            font-size: 22px;
        }

        .editor-toolbar {
            border: 0;
            background-color: rgb(0 0 0 / 2%);
        }
    }
}

.buttons {
    display: flex;

    button {
        margin-right: 15px;
    }
}