p{
    margin: 0;
}

.allData {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.firstRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date {
    font-size: 12px !important;
    opacity: 0.8 !important;
    margin-left: auto !important;
}

.likes {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.6);

    svg {
        &.like,
        &.dislike {
        font-size: 20px;
        opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }

}
